<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="{{ site.baseurl}}/css/main.css"> -->
        <link rel="stylesheet" href="http://www.doarama.com/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="http://www.doarama.com/assets/bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" media="screen" href="http://www.doarama.com/assets/stylesheets/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site well">
            <div class="header">
              <h1 class="title text-center"><a href="http://www.doarama.com"><img src="http://www.doarama.com/assets/images/doarama_150.png"></a> blog</h1>
              <br>
              <a class="extra" href="{{ site.baseurl}}/">home</a>
            </div>

                {{ content }}

            <div class="footer text-center">
              <div class="contact">
                <p>
                  Doarama - 
                  <a href="mailto:support@doarama.com">support@doarama.com</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
